/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fdf7f2;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: black;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #DB7093;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #DB7093;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Specific styles */
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #C71585;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #C71585;
}